---
---

<html class="bg bg-gray-900">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>home</title>
	</head>
	<h1 class="text-center font-bold text-6xl text-white bg-gray-900">Home</h1>

	<nav class="bg-gray-900 text-white p-4">
		<ul class="flex">
		  <li class="mr-6">
			<a class="hover:text-gray-400" href="/">Home</a>
		  </li>
		  <li class="mr-6">
			<a class="hover:text-gray-400" href="/about/">About</a>
		  </li>
		  <li class="mr-6">
			<a class="hover:text-gray-400" href="/blog/">blog</a>
		  </li>
		  
		</ul>
	  </nav>
	  <div class="container mx-auto py-8 text-white">
		<h1 class="text-4xl font-bold mb-4">Welcome to my page!</h1>
		<p class="text-lg mb-4">My name is <span class="font-bold">gleas</span>, and I'm so glad you've stopped by.</p>
		<p class="text-lg mb-4">I'm a <span class="font-bold">programmer </span>, and I'm passionate about <span class="font-bold">programming</span>. I believe that <span class="font-bold">i am chill dude</span>, and I'm dedicated to <span class="font-bold">being a chill dude </span>.</p>
		<p class="text-lg mb-4">When I'm not <span class="font-bold">Programming </span>, I love <span class="font-bold">play video games</span>. I find <span class="font-bold">playing games</span> and I often use these activities as a way to <span class="font-bold">a new perspetive </span>.</p>
		<p class="text-lg mb-4">My hope for this page is to <span class="font-bold">blogging!</span>. I want to <span class="font-bold">talking about anything </span>. I'm excited to <span class="font-bold">make this website really good</span> and I can't wait to <span class="font-bold">i hope you follow me on my journey </span>.</p>
		<p class="text-lg mb-4">Thank you for taking the time to read this "about" section, and I look forward to connecting with you!</p>
	  </div>
	  
</html>

