---
---

<html class="bg bg-gray-900">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>blog</title>
	</head>
	<h1 class="text-center font-bold text-6xl text-white bg-gray-900">blog</h1>

	<nav class="bg-gray-900 text-white p-4">
		<ul class="flex">
		  <li class="mr-6">
			<a class="hover:text-gray-400" href="/">Home</a>
		  </li>
		  <li class="mr-6">
			<a class="hover:text-gray-400" href="/about/">About</a>
		  </li>
		  <li class="mr-6">
			<a class="hover:text-gray-400" href="blog">blog</a>
		  </li>
		  
		</ul>
	  </nav>
	  

	<body> 
		<a class="hover:text-gray-400 text-white" href="post1">The different time lines in zelda </a>
		<br></br>
		<a class="hover:text-gray-400 text-white" href="post2 ">Why you should play Final Fantasy 14 online</a>
		<br></br>
		<a class="hover:text-gray-400 text-white" href="post2 ">Why FF14's Existing Loot System is Better than a WoW-Style Approach</a>

	</body>

</html>
