---
---

<html class="bg bg-gray-900">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>home</title>
	</head>
	<h1 class="text-center font-bold text-6xl text-white bg-gray-900">Home</h1>

	<nav class="bg-gray-900 text-white p-4">
		<ul class="flex">
		  <li class="mr-6">
			<a class="hover:text-gray-400" href="/">Home</a>
		  </li>
		  <li class="mr-6">
			<a class="hover:text-gray-400" href="/about/">About</a>
		  </li>
		  <li class="mr-6">
			<a class="hover:text-gray-400" href="blog">blog</a>
		  </li>
		  
		</ul>
	  </nav>
	  

	<body>
		<div class=" text-white"
			<div class="container mx-auto py-8">
			  <h1 class="text-4xl font-bold mb-4">Welcome to Gleas' Gaming Blog!</h1>
			  <p class="text-lg mb-4">This is my personal blog where I share my thoughts, opinions, and experiences on the world of video games. Whether you're a hardcore gamer, a casual player, or just interested in the gaming industry, I hope you find something here that entertains or informs you.</p>
			  <p class="text-lg mb-4">As a lifelong gamer, I'm passionate about all aspects of gaming, from the latest releases to classic titles. I believe that gaming is not just a form of entertainment, but also a powerful tool for self-expression, social interaction, and personal growth. Through this blog, I hope to explore these themes and more.</p>
			  <p class="text-lg mb-4">So if you're ready to join me on this journey through the world of video games, grab your controller (or keyboard and mouse) and let's dive in. Thank you for visiting my blog, and I hope you enjoy the content!</p>
			</div>
		  </div>
		  
		  
		  
		  
	</body>

</html>

